body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  display: flex;
  justify-content: center;
  background-image: url('../images/monocle.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 260px;
  height: 260px;
}

.running-time {
  position: absolute;
  height: 4px;
  background: black;
  top: 32%;
  right: 42%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.hours {
  width: 12%;
}

.minutes {
  width: 14%;
}

.seconds {
  width: 18%;
}
